# Instagram Reach Exploratory Analysis 

*About the DataSet:* Stats from the acount Statso 
*Link source:* https://statso.io/instagram-reach-analysis-case-study/
*Year date:* 2022

### 00 Loading The Libraries and DataSet

In [33]:
#Exporting the libraries
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = "plotly_dark"

In [34]:
#Exporting the data
df = pd.read_csv(r"F:\00. Data-Analytics-Projects\001. Exploratory Data Analysis\00. Data\Instagram data.csv",encoding='latin-1')

### 01 First Analysis
First of all, I want to examine the dataset and its features to understand what this data is about. I will then want to formulate at least five research questions based on the dataset.

**A preliminary set of questions to describe the context of the dataset are:**

* What is the main subject or theme of this data?
* What does the dataset contain in terms of information?
* What potential uses or applications could this data have?
* Who could benefit from utilizing this dataset?

In [37]:
df.head(10)

,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows,Caption,Hashtags
0,3920,2586,1028,619,56,98,9,5,162,35,2,Here are some of the most important data visua...,#financeï¿½#moneyï¿½#businessï¿½#investingï¿½#...
1,5394,2727,1838,1174,78,194,7,14,224,48,10,Here are some of the best data science project...,#healthcareï¿½#healthï¿½#covidï¿½#dataï¿½#data...
2,4021,2085,1188,0,533,41,11,1,131,62,12,Learn how to train a machine learning model an...,#dataï¿½#datascienceï¿½#dataanalysisï¿½#dataan...
3,4528,2700,621,932,73,172,10,7,213,23,8,Hereï¿½s how you can write a Python program to...,#pythonï¿½#pythonprogrammingï¿½#pythonprojects...
4,2518,1704,255,279,37,96,5,4,123,8,0,Plotting annotations while visualizing your da...,#datavisualizationï¿½#datascienceï¿½#dataï¿½#d...
5,3884,2046,1214,329,43,74,7,10,144,9,2,Here are some of the most important soft skill...,#dataï¿½#datascienceï¿½#dataanalysisï¿½#dataan...
6,2621,1543,599,333,25,22,5,1,76,26,0,Learn how to analyze a candlestick chart as a ...,#stockmarketï¿½#investingï¿½#stocksï¿½#trading...
7,3541,2071,628,500,60,135,4,9,124,12,6,Here are some of the best books that you can f...,#pythonï¿½#pythonprogrammingï¿½#pythonprojects...
8,3749,2384,857,248,49,155,6,8,159,36,4,Here are some of the best data analysis projec...,#dataanalyticsï¿½#datascienceï¿½#dataï¿½#machi...
9,4115,2609,1104,178,46,122,6,3,191,31,6,Here are two best ways to count the number of ...,#pythonï¿½#pythonprogrammingï¿½#pythonprojects...

### 02 Context Questions: 
* What is the main subject or theme of this data?
*This data is about various Instagram posts and their corresponding statistics on the account Statso*
* What does the dataset contain in terms of information?
*The dataset contains information about several Instagram posts. Each post is associated with specific metrics like impressions, interactions from different sources (home, hashtags, explore, other), saves, comments, shares, likes, profile visits, and follows. Additionally, it includes the caption and hashtags used in each post.*
* What potential uses or applications could this data have?
*This data can be useful for analyzing post performance, understanding audience behavior, and improving content strategies on Instagram.*
* Who could benefit from utilizing this dataset?
*The account owner, the Statso Org, the marketing team, competitors (?), etc.*