![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

In [2]:
#import data
path = 'data'

df_price = pd.read_csv(path+'/airbnb_price.csv')
df_type = pd.read_excel(path+'/airbnb_room_type.xlsx')
df_review = pd.read_csv(path+'/airbnb_last_review.tsv',sep='\t')

In [5]:
#What are the dates of the earliest and most recent reviews? 
#Store these values as two separate variables with your preferred names.

# Ok so we are going to work with df_review, looks like an easy min() and max() task. Lets inspect header of the df 

#df_review.info()

#Looks we need to convert the object datatype into date
df_review['last_review_date'] = pd.to_datetime(df_review['last_review'], format='%B %d %Y')

#So I want to work with the column last_review

#Max_date()
max_date = df_review['last_review_date'].max()
#Min_date()
min_date = df_review['last_review_date'].min()

#Print out= 
print(f'The most recent review was {max_date}, and the earliest review was on {min_date}')

The most recent review was 2019-07-09 00:00:00, and the earliest review was on 2019-01-01 00:00:00

In [6]:
#Next task...
#How many of the listings are private rooms? Save this into any variable.

#Now lets work with df_type and inspect the column 'room_type'
#How many types of room do we have? What's the univers of categories? Do the univers of categories have mispellings? 

#print(df_type['room_type'].unique())

#This was the output: 
#-*-*-*-*-*
#['Entire home/apt' 'private room' 'Private room' 'entire home/apt'
#'PRIVATE ROOM' 'shared room' 'ENTIRE HOME/APT' 'Shared room'
#'SHARED ROOM']

#One can clearly see that many unique categories can be collapse into one, due to a small number of categories we can fix it by just transforming all strings into lowe text

df_type['room_type']=df_type['room_type'].str.lower()
#print(df_type['room_type'].unique())
#Fixed It :) 

#Now lets just count how many records do we have for private rooms lets call the object p :


p = df_type[df_type['room_type'] == 'private room'].shape[0]
print(p)

['entire home/apt' 'private room' 'shared room']
11356

In [9]:
#What is the average listing price? Round to the nearest two decimal places and save into a variable.

#For this task lets inspect df_price with the column 'price'... yes of course 

#df_price.info()
# price column is storaged as object, we need to modify it into float dtype: 

#df_price['price'] = df_price['price'].astype('float')
#df_price.info()

#We cant convert it as object because some rows have string type of values, we need to inspect and find solutions for it: 
#Lets filter all those rows string type

non_numeric_rows = df_price[pd.to_numeric(df_price['price'], errors='coerce').isna()]
#print(non_numeric_rows)

#Quick inspections it tells me that in order to fix it i need to erase the word 'dollars' and erase extra spaces

df_price['price'] = df_price['price'].replace('dollars','',regex=True)
df_price['price'] = df_price['price'].astype('float')
#df_price.info()

avg_price = df_price['price'].mean()
avg_price = round(avg_price,2)
print(f'The average listing price is {avg_price} $$$ for the NewYork BnB market')

The average listing price is 141.78 $$$ for the NewYork BnB market

In [10]:
#Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

review_date = {'first_reviewed':[min_date],'last_reviewed':[max_date],'nb_private_rooms':[p],'avg_price':[avg_price]}
review_dates = pd.DataFrame(review_date)

review_dates.head()

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78